<div class="container">
    <div class="card" style="width: 18rem;" [hidden]="myCard.pan == ''">
        <div class="card-body">
          <h5 class="card-title">{{ myCard.pan }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">Titular: {{ myCard.titular }}</h6>
          <p class="card-text">Cedula : {{ myCard.cedula }}</p>
          <p class="card-text">Telefono : {{ myCard.telefono }}</p>
          <p class="card-text">Estado : {{ myCard.estado }}</p>
        </div>
      </div>
</div>